[submodule "modules/kvm"]
	path = modules/kvm
	url = git@github.com:puppetlabs/puppetlabs-kvm.git
[submodule "modules/libvirt"]
	path = modules/libvirt
	url = git@github.com:puppetlabs/puppetlabs-libvirt.git
[submodule "modules/opennebula"]
	path = modules/opennebula
	url = git@github.com:puppetlabs/puppetlabs-opennebula.git
[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:kbarber/puppetlabs-apache.git
